/.quarto/
/docs/
*.DS_Store

# LaTeX helper files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Rendered PDF files
assets/*.pdf
teaching/*/*/*.pdf
teaching/smgt432/lecture/tracking/*.pdf

# These images are just used for the syllabus
teaching/images/
