/.quarto/
_site/
*.DS_Store

# LaTeX helper files
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# File for environment variables (e.g. API keys)
*.env

# Rendered lesson plans
teaching/*/plan/*.html

# Old syllabi
teaching/*/syllabus/*.pdf

# These images are just used for the syllabi
teaching/images/
